<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <style>
        body {
            padding-top: 200px;
        }
        h1, h2, p {
            display: flex;
            justify-content: center;
            color: rgb(40, 182, 40);
        }
        h1 {
            font-size: 42px;
        }
        h2 { 
            font-size: 36px;
        }
        p {
            font-size: 24px;
        }

    </style>
</head>
<body>
<h1>Oops! There's nothing interesting now :(</h1>
<h2>The page is underway.</h2>
<p>You can use Postman to make sure server side works</p>
</body>
</html>